<table class="mdl-data-table" *ngIf="files != null && files.length > 0">
   <thead>
     <tr>
         <th>Title</th>
         <th>Description</th>
         <th>File Name</th>
         <th>File Size</th>
         <th>File Type</th>
         <th>Date added</th>
         <th *ngIf="editMode===true"></th>
         <th *ngIf="editMode===true"></th>
     </tr>
   </thead>

   <tbody >
     <tr *ngFor="let file of files">
       <td (click)="change(file.id)" class="cursor">{{ file.title }}</td>
       <td (click)="change(file.id)" class="cursor">{{ file.description }}</td>
       <td class="cursor">{{ file.file_name }}</td>
       <td class="cursor">{{ file.file_size |  fileSize:3 }}</td>
       <td class="cursor">{{ file.file_type }}</td>
       <td class="cursor">{{ file.date_added | date:'yyyy-MM-dd HH:mm' }}</td>
       <td (click)="edit(file.id)" class="cursor" *ngIf="editMode===true">
         <i class="material-icons" aria-hidden="true">mode_edit</i>
       </td>
       <td (click)="delete(file.id)" class="cursor" *ngIf="editMode===true">
         <i class="material-icons" aria-hidden="true">delete</i
           ></td>
     </tr>
   </tbody>
 </table>
