<tpqa-navbar></tpqa-navbar>
<div class="valign-wrapper row login-box">
  <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
      <div class="card-content">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">List Test Project</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="fa fa-minus" aria-hidden="true"></i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
