<div class="valign-wrapper row login-box">
  <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
      <div class="card-content">
        <span class="card-title">Enter credentials</span>
        <div class="row">
          <div class="input-field col s12">
            <label for="email">Email address</label>
            <input type="email" class="validate" name="email" id="email" />
          </div>
          <div class="input-field col s12">
            <label for="password">Password </label>
            <input type="password" class="validate" name="password" id="password" />
          </div>
        </div>
      </div>
      <div class="card-action right-align">
        <input type="button" class="btn waves-effect waves-light" (click)='login()' value="Login">
      </div>
  </div>
</div>
