<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
    <mdl-layout-header>
      <tpqa-navbar></tpqa-navbar>
    </mdl-layout-header>
  <mdl-layout-content>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <tpqa-tree [nodes]="testSpecificationTreeData" (selectedNode)="selectNode()"></tpqa-tree>
        </div>
        <div class="mdl-cell mdl-cell--8-col">
            <tpqa-test-project-details></tpqa-test-project-details>
            <tpqa-test-suite-details></tpqa-test-suite-details>
            <tpqa-test-case-details></tpqa-test-case-details>
        </div>
    </div>
  </mdl-layout-content>
</mdl-layout>
