@import "_popover";
@import "_buttons";
@import "_forms";

.mdl-select {
  .mdl-list {
    height: 145px;
  }
}

.button-toolbar {
  width: 54px;
  min-width: initial;
}
.font-color{
  width:120px
}
.link{
  width:300px
}
