<tpqa-navbar></tpqa-navbar>

    <div class="row">
        <!-- <div class="col s5 valign">
            <tpqa-tree
                [dataFile]="'./assets/data.json'"
                [displayField]="'description'"
                [childrenField]="'elements'"
                [isExpandedField]="'isOpen'"
                [icon]="'rocket'"
                [showSwitches]="true"
                [switchOffTitle]="'O'"
                [switchOnTitle]="'I'"
                [switchOffChildren]="false"
                [switchOnChildren]="false"
                [hideChildren]="false"
                [disableChildren]="true">
            </tpqa-tree>
        </div> -->
        <div class="col s3">
            <tpqa-tree [nodes]="
            [{
                'title' : 'Right Menu',
                'isExpanded': false,
                'children': [
                    {
                        'title': 'Child #1',
                        'isExpanded': false,
                        'children': [
                            {
                                'title': 'SubChild #1.1'
                            }, {
                                'title': 'SubChild #1.2'
                            }
                        ]
                    }, {
                        'title': 'Child #2',
                        'isExpanded': false,
                        'children': [
                            {
                                'title': 'SubChild #2.1'
                            }, {
                                'title': 'SubChild #2.2'
                            }
                        ]
                    }
                ]
            }]"></tpqa-tree>
        </div>
    </div>
