<mdl-list
    [ngClass]="{ 'tree': isRoot }"
    [attr.data-collapsible]="collapsibleType">
  <ng-container *ngFor="let node of nodes">
      <mdl-list-item
        class="cursor"
        [attr.level]="level"
        [style.padding-left]="getPaddingLeft()"
        [style.padding-right]="getPaddingRight()">
        <ng-container [ngSwitch]="node.children?.length > 0">
          <!-- node has children -->
          <ng-container *ngSwitchCase="true">
            <mdl-icon (click)="node.isExpanded = !node.isExpanded">{{ node.isExpanded ? "folder_open" : "folder" }}</mdl-icon>
          </ng-container>
          <ng-container
            *ngSwitchCase="false">
            <mdl-icon (click)="node.isExpanded = !node.isExpanded">{{ node.node_type_id !== 3 ? "folder" : "assignment" }}</mdl-icon>
          </ng-container>
        </ng-container>
        <span (click)="selectNode(node)">{{ node.title }}</span>
      </mdl-list-item>
      <ng-container
        *ngIf="(node.children?.length > 0 && !hideChildren) || (hideChildren && node.switchChecked)">
        <!-- node has children -->
        <div
          tree-node-children [@treeNodeChildrenState]="node.isExpanded.toString()">
          <tpqa-tree
            [isRoot]="false"
            [level]="level + 1"
            [nodes]="node.children"
            [displayField]="displayField"
            [childrenField]="childrenField"
            [isExpandedField]="isExpandedField"
            [materialIcon]="materialIcon"
            [expandedIcon]="expandedIcon"
            [collapsedIcon]="collapsedIcon"
            [icon]="icon"
            [switchOffTitle]="switchOffTitle"
            [switchOnTitle]="switchOnTitle"
            [switchOffChildren]="switchOffChildren"
            [switchOnChildren]="switchOnChildren"
            [hideChildren]="hideChildren"
            [disableChildren]="disableChildren">
          </tpqa-tree>
        </div>
      </ng-container>
  </ng-container>
</mdl-list>
