<ul id="test-project-down" class="dropdown-content">
  <li><a href="#">Change</a></li>
  <li class="divider"></li>
  <li><a href="#">New</a></li>
  <li><a href="#">Edit</a></li>
  <li><a href="#">Delete</a></li>
</ul>

<ul id="user-down" class="dropdown-content">
  <li><a href="#">Profile</a></li>
  <li><a href="#">Admin</a></li>
  <li class="divider"></li>
  <li><a href="#">Logout</a></li>
</ul>

<nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo">Mimi*TPQA <i class="fas fa-caret-circle-down"></i></a>
     <ul id="nav" class="right hide-on-med-and-down">
       <li><a class='dropdown-button' href='#' data-activates='test-project-down'>Test project <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
       <li><a href="#">Test specification</a></li>
       <li><a href="#">Test plan</a></li>
       <li><a href="#">Requirements</a></li>
       <li><a href="#">Find</a></li>
       <li><a class='dropdown-button' href='#' data-activates='user-down'>User <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
     </ul>
   </div>
</nav>
